<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ferney</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw2pxE/zXlmctpjy+AvWJEmqXDUfJTxpfLvdPM9NhUF2Xo4bR7TeSeMybXbQ5+isnVvejDhO611r3Nb6+/SSZDnQ==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$XFdt2dxPaFcQuAKmlgTx5eWu5wrqKfh7NBDXUyZpiVRo3.0ipsFdS</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1587945671212</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>